[Unit]
Description=Solana Validator
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
LimitNOFILE=1000000
LogRateLimitIntervalSec=0
#Environment="PATH=/bin:/usr/bin:/root/.local/share/solana/install/active_release/bin"
#ExecStart=/root/solana-validator.sh
ExecStart=/root/.local/share/solana/install/active_release/bin/solana-validator \
        --identity /root/.config/solana/identity.json \
        --limit-ledger-size 50000000 --rpc-port 8899 --entrypoint xolana.xen.network:8001 \
        --full-rpc-api --log - \
        --vote-account  /root/.config/solana/vote.json \
        --max-genesis-archive-unpacked-size 1073741824 \
        --no-incremental-snapshots --require-tower --enable-rpc-transaction-history --enable-extended-tx-metadata-storage --skip-startup-ledger-verification \
	--ledger /root/ledger --rpc-pubsub-enable-block-subscription

[Install]
WantedBy=multi-user.target
