[Unit]
Description=Agave Xolana Validator
After=network.target

[Service]
Type=simple
User=root
LimitNOFILE=1000000
#WorkingDirectory=/root/agave-xolana
ExecStart=/root/agave-xolana/target/release/agave-validator \
    --identity /root/.config/solana/identity.json \
    --vote-account /root/.config/solana/vote.json \
    --entrypoint xolana.xen.network:8001 \
    --full-rpc-api \
    --log - \
    --limit-ledger-size 50000000 --rpc-port 8899 \
    --max-genesis-archive-unpacked-size 1073741824 \
    --require-tower \
    --enable-rpc-transaction-history \
    --enable-extended-tx-metadata-storage \
    --rpc-pubsub-enable-block-subscription
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
